<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	
  <script type="text/javascript" src="{% static 'gui/jquery/js/jquery-3.1.0.min.js' %} "></script>
  <script type="text/javascript" src="{% static 'gui/bootstrap/js/bootstrap.min.js' %} "></script>
  
  <link type="text/css" href="{% static 'gui/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen"> 
  <link type="text/css" href="{% static 'gui/css/style.css' %}" rel="stylesheet" media="screen"/> 
  <link type="text/css" href="{% static 'gui/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet" media="screen"/> 

  <title>Bot GUI</title>

</head>
<body style="background-color: #2F363C; font-family:Arial; ">
  <div style='height: 100%; width: 100%;'> 
  <div class='col-md-1' style='height: 100% !important;'> <p> 000 </p> </div>
  <div class='col-md-3 bg-primary'> <p style='color:black;'> users point </p> <p> 000 </p> <p> 000 </p> <p> 000 </p></div>
  <div class='col-md-7 bg-info'> <p style='color:black;'> chat point </div>
  <div class='col-md-1'> <p> right point </div>
  </div>
</body>
</html>